//MYSQL

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DB_HOST=

NODE_ENV=




//AUTH

JWT_SECRET=

//API KEYS 
//To generate api keys execute `npm run apiKeys`, then copy from database and paste here

PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=

